<h1>New Financial Detail</h1>

<table>
	<tr>
		<th>Year</th>
		<td><%= @financial.period.year %></td>
	</tr>
	<tr>
		<th>Month</th>
		<td><%= @financial.period.month %></td>
	</tr>
	<tr>
		<th>Revenue</th>
		<td><%= @financial.revenue %></td>
	</tr>	
</table>